<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.colors_background_1 }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <style>
      body { text-align: center; display: flex; flex-direction: column; min-height: 100vh; }
      main { flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; }
    </style>
  </head>
  <body class="password-template color-scheme-2">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      Skip to content
    </a>
    {% section 'main-password-header' %}
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    {% section 'main-password-footer' %}
  </body>
</html>
